.home{
    background: url(https://i.ibb.co/L83VKZw/home-bg-804a8bac.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
}

@media only screen and (max-width: 1170px) {
    .home {
        height: auto;
    }
  }
